<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<style>
    .container{
        border-radius: 10px;        
        box-shadow: 10px 5px 5px #2f0b3a75;
        background: #fff;
    }
    h2{
        text-align: center;
        color: #2f0b3a75;
        padding-top: 2mm;
        padding-bottom: 2mm;
    }   
</style>

<body>
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-9 mx-auto col-lg-5 col-sm-10 col-xs-12">
                
                <div class="form-group mb-10">
                    <form action="/usuario/<%=usuarios.id%>?_method=PATCH" method="POST">
                        <h2 class="mb-2">Atualização do endereco do <%= usuarios.nome %> </h2>
                        
                        <label for="endereco">Endereço: </label>
                        <textarea class="form-control" rows="4" name="endereco"><%= usuarios.endereco %></textarea>
                
                        <button class="btn btn-lg btn-block">Salvar</button>
                    </form>
                    <a href="/usuario/cadastrados">Voltar</a>
                </div>
            </div>
        </div>
    </div>  
</body>
<%- include('../partials/footer') %>